@import "partials/params";
@import "partials/mixins";

.header {
	background: $color-header;
	align-items: center;
	width: $width;
	height: 36rem;
	padding-top: $font-34;
	
	& > * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	& .header-top {
		align-items: $center;
		width: $width;


		& .mobil-btn {
			display: none;
			margin-left: $font-16;

			& #btn-mobil{
				&.icon {
					font-size: $font-30;
					color: $color-black;
				}
			}
		}
		@import "header-social";
	}
	@import "header-logo";
}