@import "partials/params";
@import "partials/mixins";

.header-social {
	//border: 2px solid #ffe900;
	width: 95%;

	& .mobil-info {
		display: none;
	}
	& .curs, & .pension {

	}
	& .indicator {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin-right: 0.785714285714286em;
	}
	& .curs-li, & .info, & .indicator {
		align-self: center;
	}
	& .curs-li {
		margin-right: $font-16;
	}
	& .icon {
		font-size: $font-20;
	}
	& .socials {
		//border: 2px solid #0400ff;
		align-self: $center;
		width: 27%;

		& .social-ul{

		}
	}
}