@import "partials/params";
@import "partials/mixins";

.masonry {
	display: flex;
	flex-direction: column;

	/* ---- grid ---- */

	& .grid {
		background: #EEE;
		width: $width;
		max-width: 133rem;
		counter-reset: grid-item;

		/* clearfix */
		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}
	/* ---- grid-item ---- */
	& .grid-item {
		width: 30.5rem;
		min-height: 45rem;
		max-height: 51.9rem;
		float: left;
		background: #D26;
		border: 2px solid #333;
		border-color: hsla(0, 0%, 0%, 0.5);
		border-radius: 5px;

		&::before {
			counter-increment: grid-item;
			//content: counter(grid-item);
			display: block;
			color: white;
			padding-top: 0.2em;
			text-align: center;
			font-size: 1.4rem;
		}
	}
	& .grid-item--width2 { width: 30.5rem; }
	& .grid-item--width3 { width: 30.5rem; }
	& .grid-item--width4 { width: 30.5rem; }

	& .grid-item--height2 { min-height: 45rem;max-height: 51.9rem; }
	& .grid-item--height3 { min-height: 45rem;max-height: 51.9rem; }
	& .grid-item--height4 { min-height: 45rem;max-height: 51.9rem; }

	& .post {
		background-color: #f1f1f1;
		border: none;
		height: 45rem;
		overflow: hidden;
		& .block {
			padding: 0;

			& .wrap {
				padding: 0 $font-30 $font-30 $font-30;
			}
		}
	}
	& .tile-post {
		display: flex;
		width: $width;
		height: 51.7rem;

		& .preview {
			display: flex;
			width: $width;

			&::after {
				content: '';
				width: $width;
				height: $width;
				background-color: #000000;
				position: absolute;
				opacity: .3;
				z-index: 0;
			}
			& .block {
				display: flex;
				flex-direction: column;
				align-self: flex-end;
				z-index: 1;

				& .content-top,
				& .content-top a,
				& .content-bottom,
				& .content-bottom a {
					color: $color-white;
				}
				& .content-top {
					display: flex;
					flex-direction: column;
					width: $width;
					padding: 0 $font-30;

					& .indicator {
						width: $width;
						max-width: 9.5rem;
						height: .4rem;
					}
					& .title {
						font-size: 2.285714285714286em;
						font-weight: 400;
						line-height: 1.25em;
						margin: 0.9375em 0;
					}
				}
				& .content-bottom {
					border-top: .2rem rgba(255, 255, 255,0.2) solid;
					padding: $font-20 $font-30;
					margin-top: $font-30;
				}
			}
		}
	}
	& .tile-social {
		display: flex;
		width: $width;
		height: 49.2rem;

		& .preview {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: $width;
			height: $width;
			padding: $font-30;

			& .content-top a,
			& .content-bottom a,
			& .content-bottom .icon {
				color: $color-white;
			}
			& .content-top {
				padding-top: 7.857142857142857em;
				display: flex;
				flex-direction: column;
				align-items: center;

				& .meta {
					width: 19.4rem;
					text-align: center;

					& .title {
						font-size: $font-25;
						font-weight: 500;
						line-height: 1.48em;
						margin: 0 0 0.68em 0;
					}
				}
			}
			& .author {
				border-top: .2rem rgba(255, 255, 255,0.2) solid;
				width: $width;
				font-size: $font-16;
				padding: 1.25em;
				text-align: center;
			}
			& .content-bottom {
				& .social {
					display: flex;
					font-size: $font-16;
					text-align: center;

					& > span {
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						width: 5rem;
						height: 5rem;
						line-height: 50px;
						margin-right: $font-20;
					}
					& > .meta {
						align-self: center;
					}
				}
			}
		}
	}
	& .btn-masonry {
		align-self: center;
		border: .1rem solid #d5d5d5;
		-webkit-border-radius: .2rem;
		-moz-border-radius: .2rem;
		border-radius: .2rem;
		font-size: $font-18;
		width: 31.6rem;
		margin: 0.833333333333333em 0;
		padding: 1.555555555555556em 5.444444444444444em;

	}
}
